<a href="https://colab.research.google.com/github/LeoGamaJ/Python---DataScience/blob/main/Python_for_DataScience_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filtrando Dados

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
np.random.seed(25)

indice = ["linha 1", "linha 2", "linha 3", "linha 4", 
          "linha 5", "linha 6"]
colunas = ["coluna 1", "coluna 2", "coluna 3", "coluna 4", 
          "coluna 5", "coluna 6"]
df = DataFrame(np.random.rand(36).reshape((6,6)), 
               index=indice, 
               columns=colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [3]:
df < .2

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1     False     False     False      True     False      True
linha 2     False     False     False     False     False      True
linha 3     False     False      True     False     False     False
linha 4     False     False     False     False     False     False
linha 5     False     False      True     False     False     False
linha 6     False     False     False     False     False     False

In [5]:
indice = ["linha 1", "linha 2", "linha 3", "linha 4", 
          "linha 5", "linha 6", "linha 7", "linha 8" ]
series_obj = Series(np.arange(8), index=indice)
series_obj

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

In [8]:
filtro = series_obj > 6
series_obj[filtro]

linha 8    7
dtype: int64

In [9]:
series_obj["linha 1", "linha 5", "linha 8"] = 8
series_obj

linha 1    8
linha 2    1
linha 3    2
linha 4    3
linha 5    8
linha 6    5
linha 7    6
linha 8    8
dtype: int64