<a href="https://colab.research.google.com/github/LeoGamaJ/Python---DataScience/blob/main/Python_for_DataScience_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
dados = {
    "Coluna 1": [1, 1, 2, 2, 3, 3, 3],
    "Coluna 2": ["a", "a", "b", "b", "c", "c", "c"],
    "Coluna 3": ["A", "A", "B", "B", "C", "C", "C"]
}

df = DataFrame(dados)
df

   Coluna 1 Coluna 2 Coluna 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [ ]:
# Linhas com valores repetidos

df.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [ ]:
# Eliminando valores repetidos

df.drop_duplicates()

   Coluna 1 Coluna 2 Coluna 3
0         1        a        A
2         2        b        B
4         3        c        C

In [ ]:
df

   Coluna 1 Coluna 2 Coluna 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [ ]:
df.drop_duplicates(inplace=True)
df

   Coluna 1 Coluna 2 Coluna 3
0         1        a        A
2         2        b        B
4         3        c        C

In [ ]:
dados = {
    "Coluna 1": [1, 1, 2, 2, 3, 3, 3],
    "Coluna 2": ["a", "a", "b", "b", "c", "c", "c"],
    "Coluna 3": ["D", "A", "B", "B", "C", "C", "C"]
}

df = DataFrame(dados)
df

   Coluna 1 Coluna 2 Coluna 3
0         1        a        D
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [ ]:
df.drop_duplicates(["Coluna 3"])

   Coluna 1 Coluna 2 Coluna 3
0         1        a        D
1         1        a        A
2         2        b        B
4         3        c        C